.filtersContainer {
  padding: 24px 0;
  background-color: var(--color-bg-light);
}

.filtersContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.label {
  font-size: var(--fs-200);
  font-weight: 700;
  color: var(--color-text-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.select {
  padding: 8px 16px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: var(--color-text-light);
  font-family: inherit;
  font-size: var(--fs-100);
  font-weight: 700;
  color: var(--color-text-dark);
  outline: none;
  cursor: pointer;
}

.select:focus {
  border-color: var(--color-primary);
}
